<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main">
            
            {{>header}}
            <p>This website was created by Aayush Dabral. The weather info is provide with the help of mapbox.com and weatherstack.com</p>
            <img class="first" src="/img/robot.png">

        </div>
        
        {{>footer}}
    </body>
    
</html>